<div id="breadcrumb" class="col-xs-12" data-ng-controller="HeaderController">
    <a href="" class="show-sidebar" ng-click="toggleCollapsibleMenu()">
        <i class="fa fa-bars"></i>
    </a>
    <ol class="breadcrumb pull-left">
        <li><a href="#!/">Home</a></li>
    </ol>
</div>
