<div class="container-fluid expanded-panel" data-ng-controller="HeaderController">
    <div class="row">
        <div id="logo" class="col-xs-12 col-sm-2">
            <a href="#!/">Docktor</a>
        </div>
        <div id="top-panel" class="col-xs-12 col-sm-10">
            <div class="row">
                <div class="col-xs-4 col-sm-12 top-panel-right">

                    <ul class="nav navbar-nav pull-right panel-menu" data-ng-hide="authentication.user">
                        <li ui-route="/signup" ng-class="{active: $uiRoute}">
                            <a href="/#!/signup" class="about">Sign Up</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li ui-route="/signin" ng-class="{active: $uiRoute}">
                            <a href="/#!/signin" class="about">Sign In</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right panel-menu" data-ng-if="menu.shouldRender(authentication.user);">
                        <li class="dropdown" dropdown>
                            <a href class="dropdown-toggle account" dropdown-toggle>
                                <!--<div class="avatar">
                                    <img src="modules/core/img/avatar.jpg" class="img-circle" alt="avatar"/>
                                </div>-->
                                <i class="fa fa-angle-down pull-right"></i>

                                <div class="user-mini pull-right">
                                    <span class="welcome">Welcome,</span>
                                    <span data-ng-bind="authentication.user.displayName"></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#!/settings/profile">
                                        <i class="fa fa-user"></i>
                                        <span>Profile</span></a>
                                </li>
                                <li data-ng-show="authentication.user.provider === 'local'">
                                    <a href="/#!/settings/password">
                                        <i class="fa fa-key"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/auth/signout">
                                        <i class="fa fa-power-off"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


