<section data-ng-controller="HomeController">
    <div class="text-center">
        <div class="row">
            <p class="lead">
                <img src="/modules/core/img/docktor-200.png">
            </p>
            <h1>Docktor</h1>
        </div>
        <div class="row">
            <p>
                Administration & Monitoring Deployment with Docker
            </p>
            <img src="/modules/core/img/doc/uml.png">
        </div>
    </div>
</section>
