<section data-ng-controller="SitesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>
            <span ng-hide="site._id">Create Site</span>
            <span ng-show="site._id">Edit Site</span>
        </h1>
    </div>
    <div class="col-md-12">
        <form name="siteForm" class="form-horizontal" data-ng-submit="submitForm()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="site.title" id="title" class="form-control"
                               placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && siteForm.title.$invalid" class="help-block">
                        <p ng-show="siteForm.title.$error.required" class="text-danger">Title is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="latitude">Latitude</label>

                    <div class="col-sm-5">
                        <input name="latitude" type="number" data-ng-model="site.latitude" id="latitude"
                               class="form-control"
                               placeholder="latitude" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="longitude">Longitude</label>

                    <div class="col-sm-5">
                        <input name="longitude" type="number" data-ng-model="site.longitude" id="longitude"
                               class="form-control"
                               placeholder="longitude" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <span ng-hide="site._id"><i class="fa fa-save"></i> Create</span>
                        <span ng-show="site._id"><i class="fa fa-save"></i> Update</span>
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
        <div class="row" ng-if="site._id">
            <button class="btn btn-danger" ng-click="askDeleteSite=true" ng-hide="askDeleteSite">
                <i class="fa fa-trash-o"></i> Delete Site
            </button>
            <br>
            <button ng-click="askDeleteSite=false" ng-show="askDeleteSite" class="btn btn-danger">
                No, I don't want to delete this. <i class="fa fa-reply"></i>
            </button>
            <button data-ng-click="remove(site);" ng-show="askDeleteSite"
                    class="btn btn-danger">
                Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
            </button>
        </div>
    </div>
</section>
