<section data-ng-controller="SitesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Sites</h1>
    </div>

    <table tr-ng-grid="" items="sites" fields="['title','created', 'latitude', 'longitude']">
        <thead>
        <tr>
            <th field-name="created" display-format="date:'mediumDate'"></th>
            <th>
                <div class="tr-ng-title">
                    Details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-default btn-xs" href="#!/sites/{{gridItem._id}}">
                        <i class="fa fa-eye"></i> Details</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="sites.$resolved && !sites.length">
        No sites yet, why don't you <a href="/#!/sites/create">create one</a>?
    </div>
</section>
