<div id="page-login" class="row" data-ng-controller="AuthenticationController">
    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="text-right">
            <a href="page_login.html" class="txt-default">Already have an account?</a>
        </div>
        <div class="box">
            <div class="box-content">
                <form name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
                    <fieldset>
                        <div class="text-center">
                            <h3 class="page-header">Docktor Register Page</h3>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" required id="firstName" name="firstName" class="form-control"
                                   data-ng-model="credentials.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control"
                                   data-ng-model="credentials.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control"
                                   data-ng-model="credentials.email"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control"
                                   data-ng-model="credentials.username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   data-ng-model="credentials.password" placeholder="Password">
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary">Sign up</button>
                            &nbsp; or&nbsp;
                            <a href="/#!/signin" class="show-signup">Sign in</a>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
