<section data-ng-controller="ServicesGroupsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="group.title"></h1>
    </div>

    <p class="lead" data-ng-bind="group.description"></p>

    <h4>Select a daemon :</h4>

    <ui-select ng-model="daemons.select" theme="bootstrap" style="min-width: 300px;">
        <ui-select-match placeholder="Select or search a daemon in the list...">
            {{$select.selected.protocol}}://{{$select.selected.host}}:{{$select.selected.port}}
        </ui-select-match>
        <ui-select-choices repeat="daemon in daemons.all">
            {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}
        </ui-select-choices>
    </ui-select>

    <div ng-show="daemons.select">
        <h4>Select a service :</h4>

        <ui-select ng-model="services.select" theme="bootstrap" style="min-width: 300px;">
            <ui-select-match placeholder="Select or search a service in the list...">{{$select.selected.title}}
            </ui-select-match>
            <ui-select-choices repeat="service in services.all">
                <div ng-bind-html="service.title | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div ng-show="services.select">
        <h4>Select an image of service {{services.select.title}} :</h4>

        <ui-select ng-model="services.selectImage" theme="bootstrap" style="min-width: 300px;"
                   ng-change="changeImage()">
            <ui-select-match placeholder="Select or search a image in the list...">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="image in services.select.images">
                <div ng-bind-html="image.name | highlight: $select.search"></div>
                <small>
                    Created {{image.created | date:'mediumDate'}}
                </small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div ng-show="services.selectImage">
        <form name="deployForm" class="form-horizontal" novalidate>

            <h4>Parameters</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="parameter in services.selectImage.parameters | orderBy:'name'">
                    <td>
                        {{parameter.description}}
                    </td>
                    <td>
                        {{parameter.name}}
                    </td>
                    <td>
                        <input type="text" ng-model="parameter.value" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Volumes :</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Internal</th>
                    <th>External</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="volume in services.selectImage.volumes | orderBy:'internal'">
                    <td>
                        {{volume.description}}
                    </td>
                    <td>
                        {{volume.internal}}
                    </td>
                    <td>
                        <input type="text" ng-model="volume.external" class="form-control">
                    </td>
                    <td>
                        <input type="text" ng-model="volume.rights" class="form-control" placeholder="ro or rw">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Ports</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Internal</th>
                    <th>External</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="port in services.selectImage.ports | orderBy:'internal'">
                    <td>
                        {{port.description}}
                    </td>
                    <td>
                        {{port.internal}}
                    </td>
                    <td>
                        <input type="text" ng-model="port.external" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Variables</h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="variable in services.selectImage.variables | orderBy:'name'">
                    <td>
                        {{variable.description}}
                    </td>
                    <td>
                        {{variable.name}}
                    </td>
                    <td>
                        <input type="text" ng-model="variable.value" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <button ng-disabled="deployForm.$invalid"
                    data-ng-click="addImageToGroup(daemons.select, services.selectImage)" class="btn btn-primary">
                Deploy Service
            </button>

        </form>
    </div>

</section>
