<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>
            <span ng-hide="group._id">Create Group</span>
            <span ng-show="group._id">Edit Group</span>
        </h1>
    </div>
    <div class="col-md-12">
        <form name="groupForm" class="form-horizontal" data-ng-submit="submitForm()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="group.title" id="title" class="form-control"
                               placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && groupForm.title.$invalid" class="help-block">
                        <p ng-show="groupForm.title.$error.required" class="text-danger">Title is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contacts">Contacts</label>

                    <div class="controls">
                        <input name="contacts" type="text" data-ng-model="group.contacts" id="contacts"
                               class="form-control"
                               placeholder="person@email.com, personB@email.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Daemon</label>
                    <ui-select ng-model="group.selectDaemon" theme="bootstrap" style="min-width: 300px;">
                        <ui-select-match placeholder="Select or search a daemon in the list...">
                            {{$select.selected.protocol}}://{{$select.selected.host}}:{{$select.selected.port}}
                        </ui-select-match>
                        <ui-select-choices repeat="daemon in daemons.all">
                            {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="portminrange">Port Min Range</label>

                    <div class="controls">
                        <input name="portminrange" type="number" data-ng-model="group.portminrange" id="portminrange"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="portmaxrange">Port Max Range</label>

                    <div class="controls">
                        <input name="portmaxrange" type="number" data-ng-model="group.portmaxrange" id="portmaxrange"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <input type="text" name="description" data-ng-model="group.description" id="description"
                               class="form-control" cols="30" rows="10" placeholder="Description" required/>
                    </div>
                    <div ng-show="submitted && groupForm.description.$invalid" class="help-block">
                        <p ng-show="groupForm.description.$error.required" class="text-danger">Description is
                            required</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <span ng-hide="group._id">Create</span>
                        <span ng-show="group._id">Update</span>
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-show="group._id">
        <button class="btn btn-danger" ng-click="askDeleteGroup=true" ng-hide="askDeleteGroup">
            <i class="fa fa-trash-o"> </i> Delete Group
        </button>
        <br>
        <button ng-click="askDeleteGroup=false" ng-show="askDeleteGroup" class="btn btn-danger">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </button>
        <button data-ng-click="remove();" ng-show="askDeleteGroup"
                class="btn btn-danger">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </button>
    </div>
</section>
