<section data-ng-controller="GroupsController" data-ng-init="findOne()">

    <div class="pull-right">
        <small>
            <p data-ng-bind="group.description"></p>
        </small>
        <div>
            <a class="btn btn-success btn-xs" href="/#!/groups/{{group._id}}/deploy/service">
                <i class="fa fa-plus"> </i> Deploy a service
            </a>
            <a class="btn btn-default btn-xs" href="/#!/groups/{{group._id}}/edit">
                <i class="fa fa-edit"> </i> Edit this group
            </a>
        </div>
    </div>
    <h3 class="page-header">{{group.title}}</h3>

    <div class="col-sm-12 row">
        Contacts : <span><a href="mailto:{{group.contacts}}">{{group.contacts}}</a></span>
        <hr>
    </div>

    <div class="col-sm-12 row">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <strong>{{alert.title}}</strong><br>

            <div ng-repeat="msg in alert.msg track by $index">{{msg}}</div>
        </alert>

        <div class="infos-bottom">
            <alert ng-repeat="info in infos" type="success" close="closeInfo($index)">
                {{info.msg}}...
            </alert>
        </div>

    </div>

    <table tr-ng-grid="" items="group.containers" fields="" class="table">
        <thead>
        <tr>
            <th field-name="serviceTitle" display-name="Service" enable-filtering="true"></th>
            <th field-name="name" display-name="Container - Image" enable-filtering="true"></th>
            <th>
                <div class="tr-ng-title">
                    Status
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Commands
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Daemon
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    CPU
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Mem
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td field-name="serviceTitle">
                <a href="#!/groups/{{group._id}}/{{gridItem._id}}">
                    <span ng-hide="gridItem.serviceTitle">Need Redeploy to <br>have a name here</span>
                    {{gridItem.serviceTitle}}
                </a>
            </td>
            <td field-name="name">
                <div>
                    {{gridItem.name}}<br>
                    {{gridItem.image}}<br>
                    {{gridItem.containerId | limitTo:12}}
                </div>
            </td>
            <td>
                <div ng-show="gridItem.daemon.dockerStatusUp">
                    <span ng-show="gridItem.inspect.State.Running" class="label label-success">Running</span>
                    <span ng-hide="gridItem.inspect.State.Running" class="label label-danger">Stopped</span>
                    <span ng-show="gridItem.inspect.State.Paused" class="label label-warning">Paused</span>
                </div>
            </td>
            <td>
                <div>
                <span ng-show="gridItem.daemon.dockerStatusUp">
                    <button ng-hide="gridItem.containerId" class="btn btn-primary btn-sm"
                            ng-click="createContainer(gridItem)"><i class="fa fa-cogs"></i> Docker create
                    </button>

                    <span ng-show="gridItem.containerId">

                        <span ng-hide="gridItem.inspect.State.Running" class="btn btn-primary btn-sm"
                              ng-click="startContainer(gridItem)"><i class="fa fa-play"></i> Docker run
                        </span>

                        <span ng-show="gridItem.inspect.State.Running">

                            <div class="btn-group" dropdown is-open="status.isopen">
                                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle
                                        ng-disabled="disabled">
                                    Action... <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-hide="gridItem.inspect.State.Paused"
                                           ng-click="stopContainer(gridItem)"><i class="fa fa-stop"></i> Docker stop
                                    </a></li>
                                    <li><a href="" ng-hide="gridItem.inspect.State.Paused"
                                           ng-click="pauseContainer(gridItem)"><i class="fa fa-pause"></i> Docker pause
                                    </a></li>
                                    <li><a href="" ng-show="gridItem.inspect.State.Paused"
                                           ng-click="unpauseContainer(gridItem)"><i class="fa fa-pause"></i> Docker
                                        unpause
                                    </a></li>
                                    <li><a href="" ng-click="killContainer(gridItem)"><i
                                            class="fa fa-crosshairs"></i> Docker kill
                                    </a></li>
                                </ul>
                            </div>
                        </span>

                        <button ng-hide="gridItem.inspect.State.Running" class="btn btn-warning btn-sm"
                                ng-click="removeContainer(gridItem)"><i class="fa fa-trash"></i> Docker remove
                        </button>
                    </span>
                </span>
                </div>
            </td>
            <td>
                <div ng-switch="gridItem.daemon.dockerStatus">
                    <span ng-switch-when="checking" class="label label-default">
                        <i ng-switch-when="checking" class="fa fa-spinner fa-spin"> </i> <a
                            href="#!/daemons/view/{{gridItem.daemonId}}">Checking</a>
                    </span>
                    <span ng-switch-when="down" class="label label-danger"><a
                            href="#!/daemons/view/{{gridItem.daemonId}}">Down</a></span>
                    <span ng-switch-when="up" class="label label-success"><a
                            href="#!/daemons/view/{{gridItem.daemonId}}">UP</a></span>
                </div>
            </td>
            <td nowrap>
                <div ng-show="gridItem.inspect.State.Running && gridItem.stats.cpuUsagePercent">
                    <just-gage id="gaugeCPU{{gridItem._id}}"
                               class="gaugeSmall" min=0 max=100 value="gridItem.stats.cpuUsagePercent"
                               title="CPU"></just-gage>
                </div>
            </td>
            <td style="text-align:center" nowrap>
                <div ng-show="gridItem.inspect.State.Running && gridItem.stats.memoryUsagePercent">
                    <just-gage id="gaugeMem{{gridItem._id}}"
                               class="gaugeSmall" min=0 max=100 value="gridItem.stats.memoryUsagePercent"
                               title="Memory"></just-gage>
                    <small>{{gridItem.stats.memoryUsage}} Mo</small>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
