<section data-ng-controller="DaemonsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>
            <span ng-hide="daemon._id">Create Daemon</span>
            <span ng-show="daemon._id">Edit Daemon</span>
        </h1>
    </div>
    <div class="col-md-12">
        <form name="daemonForm" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': submitted && daemonForm.name.$invalid }">
                    <label class="control-label col-sm-2" for="name">Name</label>

                    <div class="col-sm-5">
                        <input name="name" type="text" data-ng-model="daemon.name" id="name"
                               class="form-control" placeholder="Name..." required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Site</label>

                    <div class="col-sm-5">
                        <ui-select ng-model="daemon.selectSite" theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Select or search a site in the list...">
                                {{$select.selected.title}}
                            </ui-select-match>
                            <ui-select-choices repeat="site in sites.all">
                                <div ng-bind-html="site.title | highlight: $select.search"></div>
                                <small>
                                    Created {{site.created | date:'mediumDate'}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="protocol">Docker Host</label>

                    <div class="col-sm-1">
                        <input name="protocol" type="text" data-ng-model="daemon.protocol" id="protocol"
                               class="form-control" placeholder="http or https" required>
                    </div>
                    <div class="col-sm-2">
                        <input name="host" type="text" data-ng-model="daemon.host" id="host" class="form-control"
                               placeholder="ip or hostname" required>
                    </div>
                    <div class="col-sm-2">
                        <input name="port" type="number" data-ng-model="daemon.port" id="port" class="form-control"
                               placeholder="port" required>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': submitted &&  daemonForm.timedout.$invalid }">
                    <label class="control-label col-sm-2" for="timedout">Timeout in ms</label>

                    <div class="col-sm-5">
                        <input name="timedout" type="number" data-ng-model="daemon.timedout" id="timedout"
                               class="form-control"
                               placeholder="timedout" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ca">CA</label>

                    <div class="col-sm-5">
                        <textarea name="ca" data-ng-model="daemon.ca" id="ca" class="form-control" cols="30" rows="10"
                                  placeholder="CA Content File"></textarea>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cert">CERT</label>

                    <div class="col-sm-5">
                        <textarea name="cert" data-ng-model="daemon.cert" id="cert" class="form-control" cols="30"
                                  rows="10" placeholder="CERT Content File"></textarea>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cert">Key</label>

                    <div class="col-sm-5">
                        <textarea name="key" data-ng-model="daemon.key" id="key" class="form-control" cols="30"
                                  rows="10" placeholder="KEY Content File"></textarea>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="volume">Default data volume</label>

                    <div class="col-sm-5">
                        <input type="text" name="volume" data-ng-model="daemon.volume" id="volume" class="form-control"
                               placeholder="/data"/>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': submitted &&  daemonForm.cadvisorApi.$invalid }">
                    <label class="control-label col-sm-2" for="cadvisorApi">URL cAdvisor Api</label>

                    <div class="col-sm-5">
                        <input name="cadvisorApi" type="text" data-ng-model="daemon.cadvisorApi" id="cadvisorApi"
                               class="form-control"
                               placeholder="http://<host>:<port>/api/v1.0" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description</label>

                    <div class="col-sm-5">
                        <input type="text" name="description" data-ng-model="daemon.description" id="description"
                               class="form-control" cols="30" rows="10" placeholder="Description"/>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            </fieldset>

        </form>
    </div>

    <div class="form-group">
        <h3>Parameters</h3>

        <ul data-ng-repeat="parameter in daemon.parameters">
            <li>{{parameter.name}}:{{parameter.value}}
                <small><i>{{parameter.description}}</i></small>
                <a ng-click="askDeleteParameter=true" ng-hide="askDeleteParameter">
                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Parameter"
                       tooltip-popup-delay='750'></i>
                </a>
                <button ng-click="askDeleteParameter=false" ng-show="askDeleteParameter"
                        class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removeParameter(parameter);" ng-show="askDeleteParameter"
                        class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </li>
        </ul>

        <button class="btn btn-default btn-xs" ng-hide="displayFormParameter"
                ng-click="displayFormParameter=!displayFormParameter">
            <i class="fa fa-plus-square"></i>
        </button>

        <form ng-show="displayFormParameter" name="parameterForm" id="parameterForm" novalidate
              autocomplete="off">
            <fieldset>
                <input type="text" name="name" data-ng-model="parameter.name"
                       placeholder="name" class="form-control" ng-required="true">
                <input type="text" name="value" data-ng-model="parameter.value"
                       placeholder="defaultValue" class="form-control" ng-required="true">
                <input type="text" name="descriptionParameter" data-ng-model="parameter.description"
                       placeholder="description" class="form-control">
                <button ng-disabled="parameterForm.$invalid" class="btn btn-primary"
                        data-ng-click="addParameter(); displayFormParameter=false">
                    Insert Parameter
                </button>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <h3>Ports</h3>
        <ul data-ng-repeat="port in daemon.ports">
            <li>-p &lg;externalPort-attributed-on-group&gt;:{{port.internal}}
                <small><i>{{port.description}}</i></small>
                <a ng-click="askDeletePort=true" ng-hide="askDeletePort">
                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Port"
                       tooltip-popup-delay='750'></i>
                </a>
                <button ng-click="askDeletePort=false" ng-show="askDeletePort" class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removePort(port);" ng-show="askDeletePort"
                        class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </li>
        </ul>

        <button class="btn btn-default btn-xs" ng-hide="displayFormPort"
                ng-click="displayFormPort=!displayFormPort">
            <i class="fa fa-plus-square"></i>
        </button>

        <form ng-show="displayFormPort" name="portForm" id="portForm" novalidate autocomplete="off">
            <fieldset>
                <input type="number" name="internal" data-ng-model="port.internal"
                       placeholder="internal" class="form-control" ng-required="true">
                <input type="text" name="descriptionPort" data-ng-model="port.description"
                       placeholder="description"
                       class="form-control">
                <button ng-disabled="portForm.$invalid"
                        data-ng-click="addPort(); displayFormPort=false" class="btn btn-primary">
                    Insert Port
                </button>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <h3>Variables</h3>
        <ul data-ng-repeat="variable in daemon.variables">
            <li>
                <span ng-show="variable.value">-e {{variable.name}}:{{variable.value}}</span>
                <span ng-hide="variable.value">-e {{variable.name}}:&lg;nameVariable-attributed-on-group&gt;</span>

                <small><i>{{variable.description}}</i></small>
                <a ng-click="askDeleteVariable=true" ng-hide="askDeleteVariable">
                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Variable"
                       tooltip-popup-delay='750'></i>
                </a>
                <button ng-click="askDeleteVariable=false" ng-show="askDeleteVariable"
                        class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removeVariable(variable);" ng-show="askDeleteVariable"
                        class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </li>
        </ul>

        <button class="btn btn-default btn-xs" ng-hide="displayFormVariable"
                ng-click="displayFormVariable=!displayFormVariable">
            <i class="fa fa-plus-square"></i>
        </button>

        <form ng-show="displayFormVariable" name="variableForm" id="variableForm" novalidate
              autocomplete="off">
            <fieldset>
                <input type="text" name="name" data-ng-model="variable.name"
                       placeholder="name" class="form-control" ng-required="true">
                <input type="text" name="value" data-ng-model="variable.value"
                       placeholder="default Value" class="form-control">
                <input type="text" name="descriptionVariable" data-ng-model="variable.description"
                       placeholder="description"
                       class="form-control">
                <button ng-disabled="variableForm.$invalid"
                        data-ng-click="addVariable(); displayFormVariable=false"
                        class="btn btn-primary">
                    Insert Variable
                </button>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <h3>Volume</h3>
        <ul data-ng-repeat="volume in daemon.volumes">
            <li>
                <span ng-show="volume.value">-v {{volume.value}}:{{volume.internal}}</span>
                <span ng-hide="volume.value">-v &lg;nameVolume-attributed-on-group&gt;:{{volume.internal}}</span>

                <small><i>{{volume.description}}</i></small>
                <a ng-click="askDeleteVolume=true" ng-hide="askDeleteVolume">
                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Volume"
                       tooltip-popup-delay='750'></i>
                </a>
                <button ng-click="askDeleteVolume=false" ng-show="askDeleteVolume"
                        class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removeVolume(volume);" ng-show="askDeleteVolume"
                        class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </li>
        </ul>

        <button class="btn btn-default btn-xs" ng-hide="displayFormVolume"
                ng-click="displayFormVolume=!displayFormVolume">
            <i class="fa fa-plus-square"></i>
        </button>

        <form ng-show="displayFormVolume" name="volumeForm" id="volumeForm" novalidate
              autocomplete="off">
            <fieldset>
                <input type="text" name="internal" data-ng-model="volume.internal"
                       placeholder="internal" class="form-control" ng-required="true">
                <input type="text" name="value" data-ng-model="volume.value"
                       placeholder="/exemple/defaultValue" class="form-control">
                <input type="text" name="descriptionVolume" data-ng-model="volume.description"
                       placeholder="description" class="form-control">
                <button ng-disabled="volumeForm.$invalid"
                        data-ng-click="addVolume(); displayFormVolume=false"
                        class="btn btn-primary">
                    Insert Volume
                </button>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <button type="button" ng-click="submitForm(daemonForm.$valid)" class="btn btn-primary">
            <span ng-hide="daemon._id"><i class="fa fa-save"></i> Create Daemon</span>
            <span ng-show="daemon._id"><i class="fa fa-save"></i> Update Daemon</span>
        </button>
    </div>

    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>

    <button class="btn btn-danger" ng-click="askDeleteDaemon=true" ng-hide="askDeleteDaemon">
        <i class="fa fa-trash-o" tooltip="Delete Daemon"
           tooltip-popup-delay='750'> </i> Delete Deamon
    </button>
    <button ng-click="askDeleteDaemon=false" ng-show="askDeleteDaemon" class="btn btn-danger">
        No, I don't want to delete this. <i class="fa fa-reply"></i>
    </button>
    <button data-ng-click="remove(daemon);" ng-show="askDeleteDaemon"
            class="btn btn-danger">
        Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
    </button>

    </fieldset>
    </div>
</section>
