<section data-ng-controller="DaemonsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Daemons</h1>
    </div>


    <table tr-ng-grid="" items="daemons" fields="" class="table">
        <thead>
        <tr>
            <th field-name="name" display-name="Name" enable-filtering="true"></th>
            <th field-name="dockerStatus" display-name="Status" enable-filtering="true"></th>
            <th field-name="host" display-name="Daemons" enable-filtering="true"></th>
            <th field-name="dockerVersion.Version" display-name="Version" enable-filtering="true"></th>
            <th>
                <div class="tr-ng-title">
                    CPU
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Memory
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Containers
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Images
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Details
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td field-name="dockerStatus">
                <span ng-switch="gridItem.dockerStatus">
                    <span ng-switch-when="checking" class="label label-default"> <i ng-switch-when="checking"
                                                                                    class="fa fa-spinner fa-spin"> </i> Checking </span>
                    <span ng-switch-when="down" class="label label-danger">Down</span>
                    <span ng-switch-when="up" class="label label-success">UP</span>
                </span>
            </td>
            <td field-name="host">
                <div>
                    <a href="{{gridItem.protocol}}://{{gridItem.host}}:{{gridItem.port}}/info">{{gridItem.protocol}}://{{gridItem.host}}:{{gridItem.port}}</a>
                    <small><p class="list-group-item-text" data-ng-bind="gridItem.description"></p></small>
                    <a ng-show="gridItem.cadvisorApi" href="{{gridItem.cadvisorUrl}}">cAdvisor</a>
                </div>
            </td>
            <td field-name="dockerVersion.Version">
                <div ng-show="gridItem.dockerStatusUp">{{gridItem.dockerVersion.Version}}</div>
            </td>
            <td style="text-align:center">
                <span ng-show="gridItem.dockerStatusUp">
                    <just-gage id="gaugeCPU{{gridItem._id}}" class="gaugeSmall"
                               min=0 max=100 value="gridItem.stats.cpuUsagePercent" title="CPU"></just-gage>
                    <small>{{gridItem.machineInfo.num_cores}} cores</small>
                </span>
            </td>
            <td style="text-align:center">
                <span ng-show="gridItem.dockerStatusUp">
                    <just-gage id="gaugeMem{{gridItem._id}}" class="gaugeSmall"
                               min=0 max=100 value="gridItem.stats.memoryUsagePercent" title="Memory"></just-gage>
                    <small>{{gridItem.stats.memoryUsage}} Mo</small>
                </span>

            </td>
            <td>
                <div>
                    <a ng-show="gridItem.dockerStatusUp" class="btn btn-default btn-xs"
                       href="/#!/daemons/view/containers/{{gridItem._id}}">View
                        {{gridItem.dockerInfo.Containers}}
                        containers</a>
                </div>
            </td>
            <td>
                <div>
                    <a ng-show="gridItem.dockerStatusUp" class="btn btn-default btn-xs"
                       href="/#!/daemons/view/images/{{gridItem._id}}">View
                        {{gridItem.dockerInfo.Images}}
                        images</a>
                </div>
            </td>
            <td>
                </div>
                <a class="btn btn-default btn-xs" href="#!/daemons/view/{{gridItem._id}}">
                    <i class="fa fa-eye"></i> Details</a>
            </td>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="daemons.$resolved && !daemons.length">
        No daemons yet, why don't you <a href="/#!/daemons/create">create one</a>?
    </div>

    <button ng-hide="mapView" ng-click="initMap()" class="btn btn-default">View on Map</button>

    <h3>Localization</h3>

    <div class="col-sm-4">
        <div ng-bind-html="markerInfo"></div>
    </div>
    <div class="col-sm-8">
        <map center="48.1120266, -1.6884867" zoom="5"></map>
    </div>

</section>
