<section data-ng-controller="DaemonsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{daemon.name}}</h1>

        <h3>Daemon on {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}</h3>

        <p>{{daemon.description}}</p>
        <small>
            <em class="text-muted">
                Created on
                <span data-ng-bind="daemon.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="daemon.user.displayName"></span>
            </em>
        </small>
        <br>

        <h2>Actions</h2>
        <a class="btn btn-primary" href="/#!/daemons/edit/{{daemon._id}}">
            <i class="fa fa-edit"> </i> Edit Daemon
        </a>

    </div>
    <h2>Status</h2>

    <div>
        <div ng-switch="daemon.dockerStatus">
            <span ng-switch-when="checking" class="label label-default">
                <i ng-switch-when="checking" class="fa fa-spinner fa-spin"> </i> Checking
            </span>
            <span ng-switch-when="down" class="label label-danger">Down</span>
            <span ng-switch-when="up" class="label label-success">UP</span>

            <p ng-switch-when="up">Docker info : </p>
            <pre ng-switch-when="up">{{daemon.dockerInfo | json}}</pre>
        </div>
    </div>
    <p class="lead" data-ng-bind="daemon.content"></p>
</section>
