<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>
            <span ng-show="user._id">Edit user</span>
        </h1>
    </div>
    <div class="col-md-12">
        <form name="userForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">Username</label>

                    <div class="col-sm-5 controls">
                        <input name="username" type="text" data-ng-model="user.username" id="username"
                               class="form-control"
                               placeholder="Username" required>
                    </div>
                    <div ng-show="userForm.username.$invalid" class="help-block">
                        <p ng-show="userForm.username.$error.required" class="text-danger">Username is required</p>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="firstName">FirstName</label>

                    <div class="col-sm-5">
                        <input name="latitude" type="text" data-ng-model="user.firstName" id="firstName"
                               class="form-control"
                               placeholder="firstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lastName">LastName</label>

                    <div class="col-sm-5">
                        <input name="lastName" type="text" data-ng-model="user.lastName" id="lastName"
                               class="form-control"
                               placeholder="lastName" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>

                    <div class="col-sm-5">
                        <input name="email" type="text" data-ng-model="user.email" id="email"
                               class="form-control"
                               placeholder="email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Role</label>


                    <div class="col-sm-5">

                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="radio-inline" ng-model="user.role" ng-value="'user'"> User
                                <i class="fa fa-circle-o"></i>
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="radio-inline" ng-model="user.role" ng-value="'admin'"> Admin
                                <i class="fa fa-circle-o"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>

                <div class="form-group" ng-show="user.role=='user'">
                    <label class="control-label col-sm-2">Groups</label>

                    <div class="col-sm-5">
                        <div class="checkbox" ng-repeat="group in groupsSelected | orderBy:'title'">
                            <label>
                                <input ng-show="" type="checkbox" checked
                                       ng-click="removeGroup(group)"> {{group.title}}
                                <i class="fa fa-square-o"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="checkbox" ng-repeat="group in groups.all | orderBy:'title'">
                            <label>
                                <input ng-show="" type="checkbox"
                                       ng-click="addGroup(group)"> {{group.title}}
                                <i class="fa fa-square-o"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <span ng-show="user._id"><i class="fa fa-save"></i> Update</span>
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>

        <div class="row">
            <div ng-show="authentication.user.username===user.username" class="label label-warning">You can't delete yourself.</div>
            <button class="btn btn-danger" ng-click="askDeleteUser=true" ng-hide="askDeleteUser" ng-disabled="authentication.user.username===user.username">
                <i class="fa fa-trash-o"></i> Delete User
            </button>
            <br>
            <button ng-click="askDeleteUser=false" ng-show="askDeleteUser" class="btn btn-danger">
                No, I don't want to delete this. <i class="fa fa-reply"></i>
            </button>
            <button data-ng-click="remove(user);" ng-show="askDeleteUser"
                    class="btn btn-danger">
                Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
            </button>
        </div>
    </div>
</section>
