<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="user.displayName"></h1>
    </div>
    <p>Username : {{user.username}}</p>

    <p>First Name: {{user.firstName}}</p>

    <p>Last Name: {{user.lastName}}</p>

    <p>Email: {{user.email}}</p>

    <p>Role : {{user.role}}</p>

    <div ng-show="user.role=='user'">
        <div ng-if="user.groups.length > 0">
        <p>Group<span ng-if="user.groups.length > 1">s</span> :</p>
        <ul>
            <li ng-repeat="group in user.groups">{{group.title}}</li>
        </ul>
        </div>

        <div ng-if="user.groups.length <= 0" class="label label-info">No associated group<br><br></div>
    </div>

    <div>
        <a class="btn btn-primary" href="/#!/users/{{user._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </a>
    </div>
    <small>
        <em class="text-muted">
            Created at
            <span data-ng-bind="user.created | date:'mediumDate'"></span>
            <span ng-show="user.updated">- Updated at</span>
            <span data-ng-bind="user.updated | date:'mediumDate'"></span>
        </em>
    </small>
</section>
