<section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>
            <span ng-hide="service._id">Create Service</span>
            <span ng-show="service._id">Edit Service</span>
        </h1>
    </div>
    <div class="col-md-12">
        <form name="serviceForm" class="form-horizontal" data-ng-submit="submitForm()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="service.title" id="title" class="form-control"
                               placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && serviceForm.title.$invalid" class="help-block">
                        <p ng-show="serviceForm.title.$error.required" class="text-danger">Title is required</p>
                    </div>
                </div>

                <div class="form-group" ng-hide="service._id">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>

        <div ng-if="service._id">
            <div ng-include="'/modules/services/views/list-images.client.view.html'"></div>
            <div ng-include="'/modules/services/views/list-commands.client.view.html'"></div>
            <button ng-click="submitForm()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>

        <hr>
            <button class="btn btn-danger" ng-click="askDeleteService=true" ng-hide="askDeleteService">
                <i class="fa fa-trash-o"></i> Delete Service
            </button>
            <br>
            <button ng-click="askDeleteService=false" ng-show="askDeleteService" class="btn btn-danger">
                No, I don't want to delete this. <i class="fa fa-reply"></i>
            </button>
            <button data-ng-click="remove(service);" ng-show="askDeleteService"
                    class="btn btn-danger">
                Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
            </button>

        </div>

    </div>
</section>
