<section data-ng-controller="ServicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Services</h1>
    </div>

    <table tr-ng-grid="" items="services" fields="" class="table">
        <thead>
        <th field-name="title" display-name="Title" enable-filtering="true"></th>
        <th field-name="created" display-format="date:'mediumDate'"></th>
        <th>
            <div class="tr-ng-title">
                Details
            </div>
        </th>
        </thead>
        <tbody>
        <td>
            <div>
                <a class="btn btn-default btn-xs" href="#!/services/{{gridItem._id}}">
                    <i class="fa fa-eye"></i> Details</a>
            </div>
        </td>

        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="services.$resolved && !services.length">
        No services yet, why don't you <a href="/#!/services/create">create one</a>?
    </div>
</section>
