<section data-ng-controller="ServicesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="service.title"></h1>
    </div>
    <div>
        <h2>Images</h2>

        <div ng-if="service.images.length <= 0" class="alert alert-warning">
            No associated image yet. Please add one by editing this service.
        </div>
        <ul data-ng-repeat="image in service.images">
            <li>{{image.name}}, active : {{image.active}}</li>
        </ul>
    </div>
    <div>
        <a class="btn btn-primary" href="/#!/services/{{service._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="service.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="service.user.displayName"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="service.content"></p>
</section>
