<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/img/docktor.png">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/img/docktor.png">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/png" href="/modules/core/img/docktor.png">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://maps.google.com/maps/api/js"></script>
</head>

<body class="ng-cloak">
<!--Start Header-->
<div id="screensaver">
    <canvas id="canvas"></canvas>
    <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span>Basic table</span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner">
        </div>
        <div class="devoops-modal-bottom">
        </div>
    </div>
</div>
<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar"></header>

<div id="main" class="container-fluid">
    <div class="row">
        <div data-ng-include="'/modules/core/views/menu.client.view.html'" id="sidebar-left" class="col-xs-2 col-sm-2">
        </div>

        <!--Start Content-->
        <div id="content" class="col-xs-12 col-sm-10">

            <div class="row" data-ng-include="'/modules/core/views/breadcrumb.client.view.html'"></div>

            {% block content %}{% endblock %}
            <div style="text-align: right;">
                <small>
                    <br><br><br><br>
                    <i>Hello! I'm your friendly footer. If you're actually reading this, I'm impressed....
                    <a href="https://github.com/docktor/docktor" title="Fork me on Github"> <i class="fa fa-github fa fa-2x"></i></a></i>
                </small>
            </div>
        </div>

        <!--End Content-->
    </div>
</div>

<!--Embedding The User Object-->
<script type="text/javascript">
    var user = {{user | json | safe}} ;
</script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if process.env.NODE_ENV === 'development' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

{% endif %}
</body>
</html>
